<div class="suggestions column">
  <% if suggestions.any? %>
    <% suggestions.each do |suggestion| %>
      <div class="suggestion row">
        <div class="user-avatar">
          <%= user_avatar(suggestion)%> 
        </div>
        <div class="suggestion-actions column">
          <%= link_to  suggestion.name, profile_path(suggestion), class: 'profile-link row' %>
          <div data-behaviour = "<%= suggestion.id%>">
            <%= friendship_button(suggestion) %>
          </div>
        </div>
      </div>  
      <hr>
    <% end %>
  <% end %>
</div>