<h3 class="requests-heading">REQUESTS RECEIVED</h3> 
<div class="view-all-link row">
  <%= link_to  "VIEW ALL", requesters_path%>
</div>
</div>
</div>
<div class="requests row justify-content-sb">
<% if @requesters.any?%>
  <%@requesters.each do |requester|%>
  <div class="column request-user-info">
    <%= user_avatar(requester)%>
    <%= link_to requester.name.split(' ')[0], profile_path(requester)%>
  </div>
  <%end%>
<%else%>
<div class="column">
  <div class="placeholder-request">

  </div>
    <p>No pending requests</p>
</div>
<%end%>