<div class="timeline row">
  <div class="timeline-left">

  </div>
  <div class="timeline-right">
    <div class="post-creation-holder">
      <%= form_for(current_user.posts.build) do |f| %>
       <%= f.text_field :content %>
       <%= f.submit "Post"%>
      <% end %>
    </div>
    <div class="posts">
      <% @posts.each do |post|%>
        <%= render post %>
      <% end %>
    </div>
  </div>
</div>
