@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Be+Vietnam|Nunito|Raleway|Rubik&display=swap");
.timeline {
  justify-content: center; }

.timeline-left {
  font-family: "Nunito", sans-serif;
  width: 30%;
  background-color: white;
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.163);
  align-self: flex-start;
  height: 100vh;
  padding: 1em 1em;
  padding-bottom: 2em;
  overflow-y: scroll;
  z-index: 2; }
  @media (min-width: 64em) {
    .timeline-left {
      width: 20%; } }
  .timeline-left .user-details {
    align-items: center;
    justify-content: center; }
    .timeline-left .user-details span {
      font-size: 1em;
      margin-left: .3em; }
      @media (min-width: 64em) {
        .timeline-left .user-details span {
          font-size: .8em; } }
  .timeline-left .stats-section {
    color: grey;
    font-size: .9em; }
    .timeline-left .stats-section .user-stat span {
      color: #00aeff; }
    @media (min-width: 64em) {
      .timeline-left .stats-section {
        font-size: .7em; } }
  .timeline-left .post-creation-holder {
    width: 100%;
    border-radius: 5px;
    margin-top: 1em;
    background-color: white; }
    .timeline-left .post-creation-holder form {
      width: 100%;
      flex-direction: column;
      display: flex; }
      .timeline-left .post-creation-holder form textarea {
        width: 100%;
        border-radius: 5px;
        padding: .3em 0 5em .5em;
        background-color: #eeeeee;
        border: none;
        font-size: 1.2em; }
        @media (min-width: 64em) {
          .timeline-left .post-creation-holder form textarea {
            font-size: .8em; } }
      .timeline-left .post-creation-holder form input[type="submit"] {
        padding: .2em 1em;
        border: none;
        border-radius: 5px;
        background: 0 0;
        color: white;
        background-color: #00aeff;
        transition: .25s;
        margin-top: .5em;
        font-size: .9em; }
        .timeline-left .post-creation-holder form input[type="submit"]:hover {
          background-color: #1b94fd;
          cursor: pointer; }
  .timeline-left .request-section-header {
    font-size: .8em;
    font-family: "Be Vietnam", sans-serif;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1em; }
    @media (min-width: 64em) {
      .timeline-left .request-section-header {
        font-size: .5em;
        margin-bottom: 0; } }
    .timeline-left .request-section-header .view-all-link {
      width: 50%;
      justify-content: flex-end;
      text-decoration: underline;
      color: #00aeff; }

.requests .user-card-avatar {
  width: 40px;
  height: 40px; }
.requests a {
  font-size: 1em; }
  @media (min-width: 64em) {
    .requests a {
      font-size: .7em; } }
.requests .request-user-info {
  margin-right: .3em;
  align-items: center; }
.requests .placeholder-request {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey; }
.requests p {
  font-size: .7em; }

.timeline-center {
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(246, 246, 246, 0.68);
  width: 70%; }
  @media (min-width: 64em) {
    .timeline-center {
      width: 60%; } }
  .timeline-center .posts-holder {
    background-color: white;
    width: 80%; }
  .timeline-center input[type="text"] {
    width: 100%;
    font-size: .7em;
    border: none;
    padding: 0 .6em;
    margin-right: .5em;
    border-bottom: 1.5px solid #00aeff; }
    .timeline-center input[type="text"]:focus {
      outline: none; }
  .timeline-center input[type="submit"] {
    background-color: #00aeff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: .7em;
    padding: .2em 1em; }

.timeline-right {
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.163);
  background-color: #fdfdfd;
  height: 100vh;
  width: 20%;
  overflow-y: scroll;
  padding: 1em 1em;
  z-index: 1;
  display: none; }
  @media (min-width: 64em) {
    .timeline-right {
      display: initial; } }
  .timeline-right .friend-requests {
    font-family: "Be Vietnam", sans-serif; }
    .timeline-right .friend-requests .requests-heading {
      color: #00aeff;
      font-size: .7em; }
    .timeline-right .friend-requests .suggestions {
      width: 100%; }
      .timeline-right .friend-requests .suggestions .suggestion {
        font-size: .7em;
        margin-top: .5em; }
        .timeline-right .friend-requests .suggestions .suggestion img {
          width: 60px;
          height: 60px; }
        .timeline-right .friend-requests .suggestions .suggestion .suggestion-actions {
          justify-content: flex-start;
          align-items: flex-start;
          margin: none;
          margin-left: .2em;
          width: 70%; }
          .timeline-right .friend-requests .suggestions .suggestion .suggestion-actions a.relationship-btn {
            padding: 0em 2em; }
        .timeline-right .friend-requests .suggestions .suggestion .row {
          align-items: flex-start;
          justify-content: flex-start; }
          .timeline-right .friend-requests .suggestions .suggestion .row a {
            margin-top: -1em; }

.user-card-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.friendship-btn, .cancel-friendship {
  padding: .3em .9em;
  color: white;
  border-radius: 5px;
  font-size: 1em; }
  @media (min-width: 64em) {
    .friendship-btn, .cancel-friendship {
      font-size: .6em; } }

.friendship-btn {
  background-color: #00aeff; }

.cancel-friendship {
  background-color: salmon; }

.comment-form-holder {
  padding: .8em 2em; }
  .comment-form-holder .comment-form form textarea {
    width: 100%;
    padding: .5em .5em 4em .5em;
    border: none;
    background-color: rgba(188, 188, 188, 0.582);
    transition: .25s; }
    .comment-form-holder .comment-form form textarea:focus {
      background-color: white; }
  .comment-form-holder .comment-form form input {
    width: 100%;
    color: white;
    background-color: #00aeff;
    border: none;
    padding: .5em 0;
    font-size: .9em;
    transition: .25s; }
    .comment-form-holder .comment-form form input:hover {
      cursor: pointer;
      background-color: #4f96e2; }
  .comment-form-holder .comment-form form textarea, .comment-form-holder .comment-form form input {
    border-radius: 5px; }

.like-filled-btn {
  color: #00aeff; }

.like-outlined-btn {
  color: #00aeff; }

.post.row {
  align-items: flex-start; }
  .post.row .user-card-avatar {
    margin-right: .6em; }

/*# sourceMappingURL=posts.css.map */
