@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Be+Vietnam|Nunito|Raleway|Rubik&display=swap");
::-webkit-scrollbar {
  background-color: white;
  width: 3px; }

::-webkit-scrollbar-thumb {
  background-color: grey;
  width: 5px; }

.logo {
  font-size: 1.5em;
  font-family: "Baloo Bhai", cursive;
  color: #00aeff; }
  .logo a {
    text-decoration: none; }
    .logo a:hover {
      text-decoration: none; }

nav {
  width: 100%;
  background-color: white;
  position: absolute;
  padding: .3em 1.3em;
  z-index: 9;
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.163);
  justify-content: space-between; }
  nav .nav-right {
    width: 65%;
    justify-content: space-between; }
  nav .search-bar {
    width: 60%; }
  nav .nav-btn {
    margin-right: 1.5em;
    font-family: "Nunito", sans-serif;
    font-size: .8em; }
  nav .sign-out-btn {
    color: salmon; }
  nav form {
    width: 80%;
    display: flex;
    font-family: "Nunito", sans-serif;
    flex-flow: row nowrap; }
  nav input[type="text"] {
    width: 100%;
    font-size: .7em;
    border: none;
    padding: 0 .6em;
    margin-right: .5em;
    border-bottom: 1.5px solid #00aeff; }
    nav input[type="text"]:focus {
      outline: none; }
  nav input[type="submit"] {
    background-color: #00aeff;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: .7em;
    padding: .2em 1em; }

.alert {
  z-index: 9;
  position: fixed;
  top: 40px;
  right: 15px;
  font-family: "Nunito", sans-serif;
  font-size: .7em;
  background-color: rgba(17, 17, 17, 0.714);
  color: white;
  border-radius: 5px;
  padding: 1em;
  transition: 5s; }

.close-toast {
  opacity: 0; }

.notifications-btn {
  font-size: .8em; }

.notifications-icon {
  color: #00aeff; }

div.dropdown-items {
  display: none;
  width: 20%;
  background-color: white;
  position: absolute;
  top: 40px;
  right: 50px;
  font-family: "Rubik", sans-serif;
  font-size: .5em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.163);
  text-align: center; }

div.open-dropdown {
  flex-direction: column;
  display: flex; }

.no-users-center {
  font-family: "Nunito", sans-serif;
  color: grey;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  margin-bottom: 1em; }

.users-section-heading {
  font-family: "Be Vietnam", sans-serif;
  font-size: 2em;
  padding: 3em 0 0em 0;
  text-align: center; }

.users {
  width: 100%;
  justify-content: center;
  align-items: center; }
  .users .users-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .users .user {
    width: 25%;
    height: 300px;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.163);
    border-radius: 5px;
    margin-right: 1em;
    margin-bottom: 1em; }
    .users .user .user-card-header {
      padding: 1em 0;
      width: 100%;
      height: 100px;
      background-color: #00aeff; }
      .users .user .user-card-header .user-avatar {
        position: absolute;
        left: 29%; }
        .users .user .user-card-header .user-avatar .user-card-avatar {
          border: 4px solid white;
          width: 150px;
          height: 150px; }
    .users .user .user-card-body {
      padding: 4em 0 0 0;
      height: 200px;
      text-align: center; }
      .users .user .user-card-body .cancel-friendship, .users .user .user-card-body .friendship-btn {
        margin-top: 2em; }

.placeholder-user {
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 50%; }

.create-form {
  width: 35%;
  margin: auto;
  height: 100vh;
  justify-content: center;
  align-items: flex-start; }
  .create-form .logo {
    width: 100%;
    text-align: center; }
    .create-form .logo a {
      width: 100%; }
  .create-form h2.form-title {
    text-align: center;
    width: 100%;
    font-family: "Be Vietnam", sans-serif;
    font-size: 1.2em;
    color: grey; }
  .create-form form {
    width: 100%;
    font-family: "Be Vietnam", sans-serif; }
    .create-form form .field label, .create-form form em {
      font-size: .8em; }
    .create-form form input[type="email"], .create-form form input[type="text"], .create-form form input[type="password"], .create-form form input[type="submit"] {
      padding: .4em 0 .5em .3em;
      width: 100%;
      border: none;
      box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.163);
      border-radius: 5px; }
    .create-form form input[type="submit"] {
      margin-top: 1em;
      transition: .25s; }
      .create-form form input[type="submit"]:hover {
        color: white;
        background-color: #00aeff; }
  .create-form .shared-links {
    justify-content: flex-start;
    align-items: flex-start; }

/*# sourceMappingURL=shared.css.map */
