<nav class="navigation">
  <div class="notifications-dropdown dropdown-menu" data-behaviour = "notifications">
    <%= fa_icon 'bell' %> <span data-behaviour="notifications-count"></span>
    <div class="dropdown-items column" data-behaviour="notification-items">
        
    </div>
  </div>
</nav>